<h1><%= title %></h1>

<% posts.forEach(function(post){ %>
    <div class="container card mt-3">
    	<div class="d-flex flex-row align-items-center mt-2">
    		<img src="<%= post.avatar %>" width="40" class="rounded"><a class="ml-3" href="/profile/user/<%= post.userid %>"><%= post.username %></a><p class="ml-2 mt-3" style="color: gray"><%= post.date %></p>
    	</div>
    	<div class="px-5">
    		<p><%= post.content %></p>
    	</div>
    </div>
<% }); %>
